{% set _entity_config = easyadmin_entity(app.request.query.get('entity')) %}
{# the empty string concatenation is needed when the primary key is an object (e.g. an Uuid object) #}
{% set _entity_id = '' ~ attribute(entity, _entity_config.primary_key_field_name) %}
{% trans_default_domain _entity_config.translation_domain %}
{% set _trans_parameters = { '%entity_name%': _entity_config.name|trans, '%entity_label%': _entity_config.label|trans, '%entity_id%': _entity_id } %}

{% extends _entity_config.templates.layout %}

{% block body_id 'easyadmin-show-' ~ _entity_config.name ~ '-' ~ _entity_id %}
{% block body_class 'show show-' ~ _entity_config.name|lower %}

{% block content_title %}
{% spaceless %}
    {% set _default_title = 'show.page_title'|trans(_trans_parameters, 'EasyAdminBundle') %}
    {{ _entity_config.show.title is defined ? _entity_config.show.title|trans(_trans_parameters) : _default_title }}
{% endspaceless %}
{% endblock %}
{% block main %}

<h2>Observation de {{entity.user.username}} </h2>


  <a class="username" href="{{ path('birdpage', {'slug': entity.bird.slug }) }}">{{entity.bird.name}}</a>
  {{entity.date|date}}
  <img src="{{asset('images/post/'~ entity.image.url)}} ">

  {% if entity.description is defined %}
    <p> Message : {{entity.description}}</p>
  {% endif %}
  <a class="btn btn-primary" href=" {{ path('valid', {'observationId': entity.id }) }}">Valider</a>
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#RefuseModal">Refuser</button>

  <!-- Modal -->
  <div id="RefuseModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Merci de laisser une raison de refus </h4>
        </div>
        <div class="modal-body">
          <form method="post" action="{{ path('refuse', {'observationId': entity.id }) }}">
            <input name="refuseMessage">
            <button type="submit" class="btn btn-danger">Refuser</button>
          </form>
        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </div>
      </div>

    </div>
  </div>

{% endblock %}
