{% extends "layout.html.twig" %}
{% block content %}
<div class ="container article center-block ">
    <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-12">
          <!-- Title -->
          <h1 class="articleTitle ">{{article.title}}</h1>
          <!-- Author -->
          <p class="author">Un article de <a href="#">{{article.author}}</a></p>
          <!-- Date/Time -->
          <p class="date">Publié le  {{article.date|date}} </p>
          <hr>
          <!-- Preview Image -->
          {% if article.images[0] is defined %}
          <img src="{{ vich_uploader_asset(article.images[0],"imageFile", 'App\\Entity\\Image') }}" alt="{{ article.images[0].alt }}" class="img-responsive img-width img-article"></div>
          {% endif %}
          <hr>
          <!-- Post Content -->
          <div class="content">{{article.content| raw}}</div>
        {% for image in article.images|slice(1,-1) %}
            <img src="{{ vich_uploader_asset(image,"imageFile", 'App\\Entity\\Image') }}" alt="{{ image.alt }}" class="img-responsive img-width img-article img-bottom"></div>
        {% endfor %}
        </div>
    </div>
</div>
    <!-- /.container -->

{% endblock %}
