
{% extends "layout.html.twig" %}
{% block content %}
    <nav id="myScrollspy" >
        <ul class="nav" >
            <li>
                <a href="#section1" class="page-anchor">
                    <p>
                        <img src="images/home.svg" class="picto" alt=""/>
                        <span>Home</span>
                    </p>
                </a>
            </li>
            <li>
                <a href="#section2" class="page-anchor" >
                    <p>
                        <img src="images/observations.svg" class="picto " alt=""/>
                        <span>Observations</span>
                    </p>
                </a>
            </li>
            <li>
                <a href="#section3" class="page-anchor">
                    <p>
                        <img src="images/carte.svg" class="picto" alt=""/>
                        <span>La carte</span>
                    </p>
                </a>
            </li>
            <li>
                <a href="#section4" class="page-anchor">
                    <p>
                        <img src="images/nao.svg" class="picto" alt=""/>
                        <span>La NAO</span>
                    </p>
                </a>
            </li>
            <li>
                <a href="#section5" class="page-anchor">
                    <p>
                        <img src="images/blog.svg" class="picto" alt=""/>
                        <span>Le Blog</span>
                    </p>
                </a>
            </li>
            <li>
                <a href="#section6" class="page-anchor">
                    <p>
                        <img src="images/partner.svg" class="picto" alt=""/>
                        <span>Partenaires</span>
                    </p>
                </a>
            </li>
            <li>
                <a href="#section7" class="page-anchor">
                    <p>
                        <img src="images/mail.svg" class="picto" alt=""/>
                        <span>Contactez-nous</span>
                    </p>
                </a>
            </li>
        </ul>
    </nav>
    <div>
        <div id="section1" class="section row justify-content-center screen-height">
            <div class="col-9 col-md-6 center-element">
                <div class="jumbotron">
                    <div class="text-center">
                        <img src="images/nao-carre.svg" alt="Naopédia" class="logo"/>
                    </div>
                    <h1 class="text-center">Bienvenue sur le site ornithologique de comptage
                        des différentes espèces d’oiseaux en France..</h1>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                            <a  href="{{ path("map") }}" role="button" class="btn btn-danger btn-lg bt-dble"><img src="images/carte.svg" class="picto3" alt=" "/><p>Découvrez la carte</p></a>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                            <a  href="{{ path("map") }}" role="button" class="btn btn-danger btn-lg bt-dble"><img src="images/ajouter.svg" class="picto3" alt=" "/><p>Ajouter une observation</p></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="section2" class="section row justify-content-center screen-height">
            <div class="col-8 center-element">
                <div class="jumbotron">
                    <h2 class="text-center">Les dernières observations</h2>
                    <div class="row">
                        {% for obs in lastObservations %}
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="thumbnail"> <h3>{{ obs.bird.name }}</h3> <h4>{{ obs.bird.latinName }}</h4>
                                    <div class="img-ok"><img src="{{ "http" in obs.image.url? obs.image.url : vich_uploader_asset(obs.image,"imageFile", 'App\\Entity\\Image') }}" alt="contenu dynamique" class="img-responsive"></div>
                                    <div class="txt-bird">

                                        <p{{ obs.description }}></p>

                                        <div class="text-center">
                                            <a href="{{ '/carte?bird='~obs.bird.slug  }}" class=" btn " role="button">
                                                <img src="images/loupe-bird.svg" class="picto4" alt=""/>
                                            </a>
                                        </div>
                                            <p> par <a href="{{ path("userpage",{"username":obs.user.username})  }}">{{ obs.user.username }}</a> - le {{ obs.date|date("d/m/Y") }}</p>
                                    </div>

                                </div>
                            </div>
                        {% endfor %}

                    </div>

                </div>
            </div>
        </div>
        <div id="section3"  class="section row justify-content-center screen-height">
            <div class="col-8">
                <div class="jumbotron  center-element">
                    <h2 >Votre carte d'observations</h2>
                    <div class="row">
                        <div class="col-12 col-lg-4 d-none d-lg-block">
                            <div class="phone "> <img src="images/phone.png" alt=" Naopedia sur mobile" class="phone2 "></div>
                        </div>
                        <div class="col-12 col-lg-8 col-md-12 col-sm-12 ">
                            <div class="row">
                                <div class="col-4 ">
                                    <img src="images/bird-2.png" alt="" class="img-width"/>
                                </div>
                                <div class="col-8 ">
                                    <div class="caption ublue">
                                        <ul class="blue">
                                            <p> La carte vous permet :</p> <li>d’<b>ajouter</b> vos observations
                                            </li>
                                            <li>de <b>découvrir</b> les oiseaux ajoutés
                                            </li>
                                            <li>de <b>visualiser</b> par date
                                            </li>
                                            <li>de <b>sélectionner</b> par espèce
                                            </li>
                                            <li>de <b>trier</b> par observateur
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                                <div class="col-12"><div >
                                        <a  href="{{ path("map") }}" role="button" class="btn btn-danger btn-lg bt-dble"><p>Je découvre la carte</p></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="section4"  class="section row justify-content-center ">
            <div class="col-12 col-md-6 center-element screen-height" style="background-image: url(images/base-mob-1.png);background-position:bottom; background-size: contain ; ">

                <div class="jumbotron documentation">
                    <h2 class="text-center "  >La NAO, c'est quoi?</h2>
                    <div class="owl-carousel owl-theme articles">
                    {% for article in artDoc %}
                        <article >
                            <div class="thumbnail"><h3>{{ article.title }}</h3>
                                {% if article.images[0] is defined %}
                                    <div class="img-ok"><img src="{{ vich_uploader_asset(article.images[0],"imageFile", 'App\\Entity\\Image') }}" alt="{{ article.images[0].alt }}" class="img-responsive img-width"></div>
                                {% endif %}
                                <div class="caption">
                                    <p>{{ article.content[:150]|striptags ~ ' ...' }}</p>
                                    <div >
                                        <a  href="{{ path("article",{"id":article.id}) }}" role="button" class="btn btn-danger btn-blog"><p>Lire la suite</p></a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 center-element screen-height">
                <div class="jumbotron" >
                    <h2 class="text-center" >
                        Besoin de conseils? <br>
                        D’un ouvrage de référence?
                    </h2>
                    <div class="book">
                        <p>Nous vous offrons ce livre sur les bonnes pratiques d’observation</p> <img src="images/bird-1.png" alt="Thumbnail Image 1" >
                        <a  href="{{ app.user ? path("userpage", {"username":app.user.username }) : path("signin") }}"  class="btn-lg btn-danger bt-dble" role="button">J'en profite</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="section5"  class="section row justify-content-center screen-height">
            <div class="col-8 center-element">
                <div class="jumbotron">
                    <h2 class="text-center">Le blog de la NAO</h2>
                    <div class="row">
                        {% for article in lastArticles %}
                        <div class="col-lg-6 col-md-6 col-sm-12 ">
                            <article>
                                <div class="thumbnail">
                                {% if article.images[0] is defined %}
                                    <div class="img-ok"><img src="{{ vich_uploader_asset(article.images[0],"imageFile", 'App\\Entity\\Image') }}" alt="{{ article.images[0].alt }}" class="img-responsive img-width"></div>
                                {% endif %}
                                    <div class="caption">
                                        <h3>{{ article.title }}</h3>
                                        <p>{{ article.content[:150]|striptags ~ ' ...' }}</p>
                                        <div >
                                            <a  href="{{ path("article",{"id":article.id}) }}" role="button" class="btn btn-danger btn-blog"><p>Lire la suite</p></a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        {% endfor %}

                    </div>
                    <div >
                        <a  href="{{ path("articles") }}" role="button" class="btn btn-danger btn-lg bt-dble"><p>J'accède aux autres articles</p></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="section6"  class="section row justify-content-center ">
            <div class="col-8">
                <div class="jumbotron">
                    <h2 class="text-center">Les partenaires de la NAO</h2>
                    <div class="carousel-wrap" style="height:100px">
                        <div id="carousel" class="owl-carousel owl-theme partenaires" style="display:block;height:100%;">
                            <div>
                                <a href="" target="_blank"><img src="images/depositphotos_125857850-stock-illustration-the-logo-for-the-protection.jpg" alt=""/></a>
                            </div>
                            <div>
                                <a href="" target="_blank"><img src="images/logo.png" alt=""/></a>
                            </div>
                            <div>
                                <a href="" target="_blank"><img src="images/logo_vierpfoten_fr.png" alt=""/></a>
                            </div>
                            <div >
                                <a href="" target="_blank"><img src="images/LPO-1024x452_site.png"  alt=""/></a>
                            </div>
                            <div >
                                <a href="" target="_blank"><img src="images/World_Animal_Protection_logo.svg.png"  alt=""/></a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div id="section7"   class="section row justify-content-center screen-height center-element">
            <div class="col-10 col-lg-8 ">
                <div class="jumbotron ">

                    <h2 >Contactez-nous !</h2> <div class="form-area">
                        <form role="form">
                            <br style="clear:both">
                            <div class="row" style="display:flex">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Nom*" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="surname" name="surname" placeholder="Prénom*" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="email" name="email" placeholder="Votre adresse mail*" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Votre numéro de téléphone" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="subject" name="subject" placeholder="Sujet de votre message*" required>
                                    </div></div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <textarea class="form-control" id="message" placeholder="Message" maxlength="140" rows="7"></textarea>
                                        <span class="help-block">
                                            * mentions obligatoires
                                        </span>
                                    </div>
                                    <div class="text-right"><button type="button" id="submit" name="submit" class="btn-lg btn-danger bt-dble">Envoyer</button><br></div></div></div>


                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block javascript %}
        {{ parent() }}

        <script type="text/javascript" charset="utf-8">
            $(function () {
                /**
                 * Smooth scrolling to page anchor on click
                 **/
                 $('body').scrollspy({ target: '#myScrollspy' });

                $("a.page-anchor[href*='#']:not([href='#'])").click(function (e) {
                    e.preventDefault();
                    if (
                            location.hostname == this.hostname
                            && this.pathname.replace(/^\//, "") == location.pathname.replace(/^\//, "")
                            ) {
                        var anchor = $(this.hash);
                        anchor = anchor.length ? anchor : $("[name=" + this.hash.slice(1) + "]");
                        if (anchor.length) {
                            $("html, body").animate({scrollTop: anchor.offset().top-60}, 750);
                        }
                    }
                });
                $(".owl-carousel.partenaires").owlCarousel({
                    center: true,
                    items:3,
                    loop:true,
                    margin:100,
                    nav:true,
                    navText:['<i class="fa fa-chevron-left"></i>','<i class="fa fa-chevron-right"></i>'],
                    responsive:{
                        0:{
                            items:2,
                            margin:10
                        },
                        576:{
                            items:3
                        },
                    }
                });
                $(".owl-carousel.articles").owlCarousel({
                    items:1,
                    nav:true,
                    dots:true,
                    navText:['<i class="fa fa-chevron-left"></i>','<i class="fa fa-chevron-right"></i>'],

                });
            });
        </script>

{% endblock %}
