{% extends "layout.html.twig" %}
{% block content %}

  <h2>{{bird.name}}  </h2>
  <h3>{{bird.latinName}}</h3>

  <p>{{bird.famille}}</p>
  {% if bird.images %}
    {% for image in bird.images %}
      <img style="width:100px" src="{{asset('images/post/'~ image.url)}} ">
    {% endfor %}

    {% if bird.description is null %}
      <h3>Il n'y a pas de fiche pour cet oiseaux. </h3>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary col-lg-3" data-toggle="modal" data-target="#birdChange">
        Ajouter une description
      </button>
    {% else %}
      {% if bird.descriptionValid == FALSE %}
        <p> Une description de cet oiseau est en cours de validation</p>
      {% else %}
        <p> {{bird.description}}</p>
      {% endif %}
    {% endif %}

  {% endif %}


<!-- Modal -->
<div class="modal fade" id="birdChange" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{bird.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="{{ path('birdDescription', {'birdId': bird.id }) }}">
          <input type="textarea" name="description" value=""> description<br>
          <button type="submit" class="btn btn-primary">Valider</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
