{% extends "layout.html.twig" %}
{% block content %}
<h2>Bonjour <strong>{{user.username}}</strong> </h2>
<h3> Mes observation : </h3>

{% for observation in observations %}
<div>
  <a class="username" href="{{ path('birdpage', {'birdname': observation.bird.name }) }}">{{observation.bird.name}}</a>
  {{observation.date|date}}
  <img src="{{asset('images/post/'~ observation.image.url)}} ">

</div>

{% endfor %}
{% endblock %}
